<div class="container p-1 app-map-panel">
  <mat-slide-toggle [checked]="active$ | async" (change)="onToggleActive($event)" color="primary"
    >Activate travel simulator</mat-slide-toggle
  >
  <div class="time-value">{{ formatSecondsDate(timeDisplayed$ | async) }}</div>
  <mat-slider
    class="w-100 pt-0"
    color="primary"
    [value]="time$ | async"
    [min]="start$ | async"
    [max]="end$ | async"
    [disabled]="!(active$ | async)"
    (input)="onTimeChanged($event)"></mat-slider>
  <button
    type="button"
    mat-button
    color="primary"
    [disabled]="!(active$ | async)"
    (click)="!animationTimer$ || animationTimer$.closed ? onBeginAnimate() : onEndAnimate()">
    {{ !animationTimer$ || animationTimer$.closed ? 'Animate routes' : 'Stop animating routes' }}
  </button>
  <mat-form-field appearance="fill">
    <mat-label>Speed</mat-label>
    <mat-select [(value)]="animationSpeedMultiple">
      <mat-option [value]="1"> Slow </mat-option>
      <mat-option [value]="3"> Normal </mat-option>
      <mat-option [value]="6"> Fast </mat-option>
    </mat-select>
  </mat-form-field>
</div>
